<div style="background-color:#0072bc;">
   <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-7 mt-3 mb-3">
        <p>Happiness remainder joy but earnestly for off.
          How one dull get busy dare far. As so seeing latter he should thirty whence.
          Effect if in up no depend seemed. An concluded sportsman offending so provision mr education.
          Sentiments two occasional
        </p>
      </div>
    </div> 

 
  <div class="container-fluid">
    <div class="row mb-5">
     
        <ol class="col-12">
          <ul >
            <li id="first"></li>
            <li id="second"><label class="UnderLine ">ACCEPTANCE <span>OF PROPOSALS</span></label></li>
            <li class="previous"><label class="UnderLine ">CHALANGE</label></li>
            <li id="containerr">
              <div class=" imgBox  p-2" align="center">
               
                  <p>WINNER SELECTION</p>
                  <img src="../../../assets/img/Vector Smart Object.png">
                  <div>
                    <small>Sentiments two occasional
                      affronting solicitude travelling
                      and one contrasted. Steepest
                      </small>
                  </div>

                </div>
              
            </li>

            <li class=" lastOne"><label class="UnderLine ">Payment fortheasset</label></li>
          </ul>
        </ol>
      </div>

    

  </div>

  <div class="row">
    <div class="col-4 mr-5"></div>
    <div class="col-3">
      <div class="container">
        <div class="row mb-3">
          <div class="col-sm-4">
            <p class="pCls mt-2" align="center">Scroll down
            </p>
          </div>
          <div class="col-sm-2" style="cursor:pointer;">
            <div id="Scroller" align="center">
              <hr>
              <hr>
              <hr>
              <hr>
              <hr>
              
            </div>
          </div>
          <div class="col-sm-4" align="center">
            <p class="pCls mt-2">to see more
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-1"align="right"> 
        <p class="pCls mt-2"align="right">Scroll down   
        </p>
      </div>
      <div class="col-1">
        <div id="Scroller" align="center"><hr><hr><hr><hr><hr><hr></div>
      </div>
      <div class="col-1" align="left"> 
          <p class="pCls mt-2">to see more   
          </p>
        </div> -->
  </div>

</div>
