
<div style="background-color:#0072bc;">
  <div class="container-fluid">
		<div class="row ">
			<div class="col-sm-12 timeline">
				<ol>
					<ul >
						<li  id="first"></li>
						<li  ><label class="UnderLine " >ACCEPTANCE OF PROPOSALS</label></li>
						<li  class=" previous"></li>
						<li   id="container">
              <div>
                <p>WINNER SELECTION</p>
                <img src="../../../assets/img/Vector Smart Object.png">
                <div>
                  <small>Sentiments two occasional
                    affronting solicitude travelling
                    and one contrasted. Steepest
                    speaking up</small>
                </div>
              </div>
    
            </li>
						<li  class=" lastOne"></li>
            </ul>
          </ol>
			</div>
			
		</div>
  </div>
</div>