<div style="background-color:#e8f3fa; ">
  <div class="container ">
    <div class="row ">
        <div class="col-12 mt-5" align="center">
          <h2 class="links">ABOUT US</h2>
        </div>
    </div>
    <div class="row mt-5 ">
     
      <div class="col-sm-4" align="center">
        <div class="img">
          <img src="../../../assets/img/Vector Smart Object copy 1.png">
        </div>
        <div class="mt-3 mb-2" align="center">
          <h5 class="links">FIRST OF BIG4</h5>
          <p class="ml-3 mr-3">
            KPMG in Ukraine is the first and only 
            one among the Big 4 and other 
            companies, members of international 
            networks, that launched its own auction platform...
          </p>
          <p class="links KPMGlink">kpmg.com</p>
        </div>
      </div>
      <div class="col-sm-4" align="center">
        <div class="img">
          <img src="../../../assets/img/Vector Smart Object copy 2.png">
        </div>
        <div class="mt-3 mb-5" style="margin-bottom:20px;" align="center">
          <h5 class="links">INTERNATIONAL</h5>
          <p>
            KPMG International is a global network 
            of professional firms providing audit, tax 
            and advisory services. We operate in 154 countries and have more than 200,000 
            professionals working in member firms around the world. KPMG International member-firms 
            provide audit, tax, legal, and advisory services and cooperate closely with our clients to help 
            them mitigate risks and realize opportunities 
            for their business.
          </p>
          <p class="links KPMGlink">kpmg.com</p>
        </div>
      </div>
      <div class="col-sm-4" align="center">
        <div class="img">
          <img src="../../../assets/img/Vector Smart Object copy 3.png">
        </div>
        <div class="mt-3 mb-2" align="center">
          <h5 class="links">REPUTATION</h5>
          <p>
            The clients of KPMG International member 
            firms include corporations, government 
            agencies, and non-profit organizations. 
            We provide our clients with high-quality 
            standards based on professionalism...
          </p>
          <p class="links KPMGlink">kpmg.com</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  color="#e8f3fa" -->
