<div>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5" align="center">
        <p>Please contact us: <span class="links KPMGlink">kdr-support@kpmg.ua</span></p>
      </div>

    </div>
    <div class="row mt-3" align="center">
      <div class="col-md-1 KPMGlink links borderLink">
          Statement 
      </div>
      <div class="col-md KPMGlink links borderLink">
          Dutch regulations 
      </div>
      <div class="col-md KPMGlink links borderLink">
          Statement 
      </div>
      <div class="col-md KPMGlink links borderLink">
          Operator fee 
      </div>
      <div class="col-md KPMGlink links borderLink">
          Statement 
      </div>
      <div class="col-md KPMGlink links borderLink">
          Statement 
      </div>
      <div class="col-md KPMGlink links">
          Protection 
      </div>
    </div>
    <div class="row mt-3 mb-3" align="center">
      <div class="col-1">

      </div>
      <div class="col-10 ">
          KPMG-Ukraine Ltd., a company incorporated under the Laws of Ukraine, a
           member firm of the KPMG network of independent member firms 
          affiliated with KPMG International Cooperative ("KPMG International"), a Swiss entity.
      </div>
    </div>
  </div>
</div>
