<nav class="navbar navbar-expand-lg " style="background-color:#223b7e">
  <div class="container">
	<div href ="#" class="navbar-brand">
		<img src="../../../assets/img/logo.png" alt="логотип"/>
	</div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
	aria-controls="navbarSupportedContent"
	aria-expanded="false" 
	aria-lable="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse " id="navbarSupportedContent">
		<ul class="nav navbar-nav  mr-auto pl-3 text-center">
			
			<li class="navbar-nav ">
				<a href="#" class="nav-link ml-5 headLink"><h5 class="headLink"><b>Platform User's choise</b></h5></a>
			</li>
			<li class="navbar-nav ">
				<a href="#" class="nav-link ml-5 headLink">Users</a>
			</li>
			<li class="navbar-nav ">
				<a href="#" class="nav-link ml-5 headLink">authorization</a>
			</li>
			<li class="navbar-nav ">
				<a href="#" class="nav-link ml-5 headLink">Admin</a>
      </li>
      <li class="navbar-nav ">
			    <button href="#" class="btn btn-outline-info btn-xs  ml-5 mb-3 headLink" id ="btnChall">GO TO CHALLENGE</button>
			</li>
			
		</ul>
		<ul class="nav navbar-nav">
			
			<li class="navbar-nav " align="right">
				
				<a href="#" class="nav-link ml-5 headLink">EN&or; </a>
			</li>
		</ul>
  </div>
	</div>
  </nav>

