<div class="mb-3 ">
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 mt-5 links" align="center">
        <h2>WE OFFER OUR CLIENTS</h2>
      </div>

    </div>
    <div class="row mt-2">
      <div class="col-md-1"></div>
      <div class="col-md-10" align="center">
        <p>Happiness remainder joy but earnestly for off.
          How one dull get busy darep far.Happiness remainder joy but earnestly for off.
          How one dull get busy darep far.</p>
      </div>

    </div>
    <div class="row mt-5">
      <div class="col-md-1"></div>
      <div class="col-md-2 blocks" align="center">
        <div>
          <h5 class="links">convenient and simple interface</h5>
        </div>
        <div class="underLinks mb-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="mt-5 underLinks align-items-end">
          <h5 class="links">long-term support</h5>
        </div>
      </div>
      <div class="col-md-6" align="center">
        <div id="circleKPMG" class="links">
          <h2><b>
              <p>KPMG</p>
              <p>CONSEC</p>
              <p>ELIT</p>
            </b></h2>
        </div>

      </div>
      <div class="col-md-2 blocks" align="center">
        <div align="center">
          <h5 class="links">convenient and simple </h5>
        </div>
        <div class="underLinks mb-3">
         
        </div>
        <div class="mt-5 underLinks "style="margin-top: 30px;" align="center">
          <h5 class="links">transparensy</h5>
        </div>
      </div>
    </div>
  </div>
</div>